name: PR Check

on:
  - pull_request
  - workflow_dispatch

jobs:
  build:
    name: Gradle check
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build and check with Gradle Wrapper
        run: ./check.sh
      - name: Store build report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-reports
          path: |
            **/build/reports/
            **/build/test-results/